<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjetoLojaEntities" connectionString="metadata=res://*/Entity.ProjetoLojaEntity.csdl|res://*/Entity.ProjetoLojaEntity.ssdl|res://*/Entity.ProjetoLojaEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ProjetoLoja;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>