ProjetoLojaDesktop/ProjetoLojaDesktop/bin/
ProjetoLojaDesktop/ProjetoLojaDesktop/obj/
ProjetoLojaDesktop/ProjetoLojaWeb/obj/
ProjetoLojaDesktop/ProjetoLojaWeb/bin/
ProjetoLojaDesktop/ProjetoLojaData/obj/
ProjetoLojaDesktop/ProjetoLojaData/bin/
ProjetoLojaDesktop/ProjetoLojaDesktop.suo
