@import "custom.css";
.product-list {
    margin-left: -30px;
    overflow: visible !important;
    /*zoom: 1;*/

}
.product-list:before {
    content: '';
    display: block;
}
.product-list:after {
    content: '';
    display: table;
    clear: both;
}

@media (min-width: 768px) and (max-width: 979px) {
    .product-list {
        margin-left: -20px;
    }
}
@media (max-width: 767px) {
    .product-list {
        margin-left: -20px;
    }
}
@media (max-width: 480px) {
    .product-list {
        margin-left: 0;
    }
}
.product-list li {
    list-style: none;
    width: 270px;
    float: left;
    margin-left: 30px;
    margin-bottom: 30px;
}
@media (min-width: 980px) and (max-width: 1199px) {
    .product-list li {
        width: 213px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .product-list li {
        width: 166px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 767px) {
    .product-list li {
        width: 210px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 480px) {
    .product-list li {
        width: 300px;
        margin-left: 0;
        margin-bottom: 20px;
    }
}
.product-list li.featured {
    width: 570px;
}
@media (min-width: 980px) and (max-width: 1199px) {
    .product-list li.featured {
        width: 456px;
    }
}
@media (min-width: 768px) and (max-width: 979px) {
    .product-list li.featured {
        width: 352px;
    }
}
@media (max-width: 767px) {
    .product-list li.featured {
        width: 440px;
    }
}
@media (max-width: 480px) {
    .product-list li.featured {
        width: 300px;
    }
}
.product-list a {
    position: relative;
    display: block;
    color: inherit;
    text-decoration: none;
    z-index: 20;
    -webkit-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
    -moz-box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
    box-shadow: 0 1px 2px rgba(71, 73, 72, 0.19999999999999996);
    /*color: @arguments;*/

}
.product-list a:hover {
    -webkit-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
    -moz-box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
    box-shadow: 0 2px 3px rgba(71, 73, 72, 0.5);
    /*color: @arguments;*/

}
.product-list a:hover .image .secondary {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.product-list a:hover .title .rating {
    color: #1abc9c;
}
.product-list a .image {
    position: relative;
    background: #ffffff url('../../img/preloader.gif') no-repeat center center;
}
.product-list a .image img {
    display: block;
    width: 100%;
}
.product-list a .image .secondary {
    position: absolute;
    top: 0;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
}
.product-list a .image .badge-sale {
    position: absolute;
    right: -10px;
    top: 40px;
    background-color: #1abc9c;
    font-size: 12px;
    line-height: 12px;
    padding: 4px 8px;
    text-transform: uppercase;
    -webkit-border-radius: 2px 2px 0 2px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 2px 2px 0 2px;
    border-radius: 2px 2px 0 2px;
    background-clip: padding-box;
}
.product-list a .image .badge-sale:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border: 10px solid;
    border-color: #0e6252 transparent transparent transparent;
    position: absolute;
    right: 0;
    bottom: -20px;
    z-index: -10;
}
.product-list a .title {
    padding: 20px;
    position: relative;
    background-color: #ffffff;
}
.product-list a .title:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background-color: #ffffff;
    position: absolute;
    left: 20px;
    top: -8px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.product-list a .title .prices {
    text-align: right;
    float: right;
    margin-left: 20px;
    line-height: 20px;
    height: 20px;
}
.product-list a .title .prices .price {
    color: #1abc9c;
    font-weight: 600;
    font-size: 14px;
}
.product-list a .title .prices .base {
    color: #c7c8c8;
    font-weight: 400;
    font-size: 11px;
}
.product-list a .title h3 {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}
.product-list a .title .rating {
    margin-top: 10px;
    font-size: 12px;
    line-height: 15px;
    color: #c7c8c8;
}

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

