/*---
| COLOR SCHEME
---*/
a {
  color: #cc2128;
}
a:hover,
a:focus {
  color: #148f77;
}
.list-border li {
  border-left: 5px solid #cc2128;
}
.list-chevron li:before {
  color: #cc2128;
}
.table-hover tbody tr:hover > th,
.table-hover tbody tr:hover > td {
  background-color: #cc2128;
}
.price-list li.important {
  color: #cc2128;
}
.flash {
  background-color: #cc2128;
}
.btn-primary {
  background-color: #cc2128;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #bf2127;
}
.box.border-top {
  border-top: 5px solid #cc2128;
}
.box.border-right {
  border-right: 5px solid #cc2128;
}
.box.border-bottom {
  border-bottom: 5px solid #cc2128;
}
.box.border-left {
  border-left: 5px solid #cc2128;
}
.panel.border-top {
  border-top: 5px solid #cc2128;
}
.panel.border-right {
  border-right: 5px solid #cc2128;
}
.panel.border-bottom {
  border-bottom: 5px solid #cc2128;
}
.panel.border-left {
  border-left: 5px solid #cc2128;
}
.panel-navigation a:hover {
  background-color: #cc2128;
  border-color: #cc2128;
}
.panel-navigation a:hover .toggle {
  color: #cc2128;
}
.header .top a:hover {
  color: #cc2128;
}
.search #autocomplete-results ul {
  border-left: 5px solid #cc2128;
}
.search #autocomplete-results ul li.active a {
  background-color: #cc2128;
}
.mini-cart a > span {
  background-color: #cc2128;
}
.main-menu > li:hover > a,
.main-menu > li > a:hover {
  color: #000;
}
.main-menu ul {
  border-top: 5px solid #cc2128;
}
.main-menu ul a:hover {
  background-color: #cc2128;
}
.breadcrumb a:hover,
.breadcrumb a:focus {
  color: #cc2128;
}
.tweet_list .tweet a:hover {
  color: #cc2128;
}
.footer .links a:hover,
.footer .links a:focus {
  color: #cc2128;
}
.footer .twitter .tweet_list li .text .tweet_time a:hover,
.footer .twitter .tweet_list li .text .tweet_time a:focus {
  color: #cc2128;
}
.category .sidebar .children .title a:hover {
  color: #cc2128;
}
.category .sidebar .category-list a:hover,
.category .sidebar .category-list a:focus {
  background-color: #32338e;
}
.category .sidebar .category-list a:hover .count,
.category .sidebar .category-list a:focus .count {
  color: #cc2128;
}
.category .sidebar .price-filter .ui-slider .ui-slider-range {
  background-color: #cc2128;
  border-top: 1px solid #148f77;
  border-bottom: 1px solid #148f77;
}
.category .sidebar .price-filter #slider-label strong {
  color: #cc2128;
}
.product-list a:hover .title .rating {
  color: #cc2128;
}
.product-list a .image .badge-sale {
  background-color: #cc2128;
}
.product-list a .image .badge-sale:after {
  border-color: #0e6252 transparent transparent transparent;
}
.product-list a .title .prices .price {
  color: #cc2128;
}
.product-list-small .image a:hover {
  border-color: #cc2128;
}
.product-list-small .desc h6 a:hover {
  color: #cc2128;
}
.product-list-small .desc .rating a:hover {
  color: #cc2128;
}
.product-list-small li:hover .desc .rating {
  color: #cc2128;
}
.ratings-small li:hover .desc .rating {
  color: #cc2128;
}
.flexslider .flex-progress span {
  background-color: #cc2128;
}
.caption h3 {
  background-color: #cc2128;
}
.jcarousel-controls .carousel-control-prev:hover,
.jcarousel-controls .carousel-control-next:hover,
.jcarousel-controls .carousel-control-prev:focus,
.jcarousel-controls .carousel-control-next:focus {
  background-color: #cc2128;
}
.product-info .product-content #product .details .prices .price {
  color: #cc2128;
}
.product-info .product-content #product .details .meta .categories a:hover {
  color: #cc2128;
}
.product-info .product-images .thumbs .thumbs-list li a:hover {
  border-color: #cc2128;
}
.product-info .product-images .thumbs .thumbs-list li a.active {
  border-color: #cc2128;
}
.product-reviews h5 .script {
  color: #cc2128;
}
.nav-tabs {
  border-bottom: 5px solid #cc2128;
}
.nav-tabs li a:hover {
  color: #cc2128;
}
.nav-tabs li.active > div,
.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:active,
.nav-tabs li.active a:focus {
  background-color: #cc2128;
}
.nav-tabs.nav-stacked > li > a:hover,
.nav-tabs.nav-stacked > li > a:active,
.nav-tabs.nav-stacked > li > a:focus {
  border-bottom: 1px solid #cc2128;
  background-color: #cc2128;
}
.nav-tabs.nav-stacked li.active a {
  color: #cc2128;
}
.cart-items .col_product .image a:hover,
.cart-items .col_product .image a:focus {
  border-color: #cc2128;
}
.cart-items .col_product h5 a:hover,
.cart-items .col_product h5 a:focus {
  color: #cc2128;
}
.cart-items .col_product .options li:before,
.cart-items .col_product .extras li:before {
  color: #cc2128;
}
.options-panel .options-panel-toggle a {
  background-color: #cc2128;
}
.label-sale {
  background-color: #cc2128;
}
.widget {
  border-top: 5px solid #cc2128;
}
.widget.Categories a:hover,
.widget.Menu a:hover,
.widget.Categories a:focus,
.widget.Menu a:focus {
  background-color: #cc2128;
}
.widget.Categories a:hover .count,
.widget.Menu a:hover .count,
.widget.Categories a:focus .count,
.widget.Menu a:focus .count {
  color: #cc2128;
}
.adverts a:hover {
  border-color: #cc2128;
}

.span4 p{
	margin-top: 40px;
	font-size: 15px;
	float: right;
	margin-right: 30px;
}
